<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <h1>Our mission is to save you time and money for the important things in life!</h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 center">
          <!-- image goes here -->

          <%= link_to image_tag("Truck.png", alt: "cart") %> </br>


        </div>

      </div>
    </div>
    <div class="container-fluid ">


    <div class="row">
      <div class="col-xs-12 col-md-12 center-block">



    <p class="textlight">
    <strong>Order any time, from anywhere</strong> via our site or mobile app. Thousands of groceries and home essential products at your fingertips!
    </p>
    <p class="textlight">
      <strong>Delivery to your door 7 days a week within your chosen 2-hour time slot.</strong> Save time with less trips to the store, less waiting in line, and less stuff to lug home!
    </p>
    <p class="textlight">
      <strong>Low everyday prices and great deals.</strong> Since we don’t have high cost stores and related overhead, we can pass the savings on to you!
    </p>
</div>
</div>
</div>
