<footer class="footer">
  <small>
  &copy; RedMart 2016
  </small>
  <nav>
    <small class="pull-right">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
      <li><%= social_share_button_tag("Like", :url => "https://goo.gl/OGsvHM") %></li>

    </ul>
    </small>
  </nav>
</footer>
