<div class="row">
  <div class="col-md-12">



  <%= link_to product.name, product %>


  <% if logged_in? && admin? %>
  <%= link_to "delete", product, method: :delete,
                                data: { confirm: "Click 'ok' to confirm" }, class: 'pull-right'%>
                              </div>
                            </div>

  <%end%>
