
<div class="row">
<div class="col-md-12">
<li class="table-bordered table-responsive ">
<table>

<td >

   <%= link_to image_tag("cart.png", alt: "cart") %>
 </td>

 <td class="col-sm-12">
   <%= link_to product.name, product %>

  </td>

  <td class="col-sm-12">

  $<%= product.price%>

</td>
<td class="col-md-12">

  <% if logged_in? && admin? %>
  <%= link_to "delete", product, method: :delete,
                                data: { confirm: "Click 'ok' to confirm" }, class: 'pull-right shiftdown-btn'%>

  <%end%>
</td>

</table>

</li></br>

</div>
</div>
