<% provide(:title, 'All Products') %>
<h1>All products</h1>

<%= will_paginate %>

<ul class="products">
  <li>
  <% @products.each do |product| %>
<%= link_to product.name, product %>
</li>

<% end %>
</ul>

<%= will_paginate %>
